.c-chart__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-header__burger,
.c-chart__burger-menu{
    display: flex;
    flex-direction: column;

    .c-burger__line {
        display: block;
        width: 20px;
        height: 2px;
        margin-bottom: .5rem;
        background-color: #8b8b8b;
    }
}

.c-header__burger {
    .c-burger__line {
        background-color: #ffffff;
    }

    .c-burger__line-1\/2 {
        width: 15px;
    }
}